<FluentDialogHeader>
    <h4>Update time log</h4>
</FluentDialogHeader>

<FluentDialogBody>
    <EditForm Model="Content" OnValidSubmit="OnSubmit">
        <!-- DATES -->
        <FluentStack>
            <div>
                <FluentDatePicker Label="Date"
                                  Appearance="FluentInputAppearance.Filled"
                                  Class="border border-secondary rounded-3 w-100 mb-2"
                                  Value="@SelectedTimeOutDateOnly.ToDateTime()"
                                  ValueChanged="@(e => SelectedTimeOutDateOnly = e.ToDateOnly())"
                                  data-cy="timelog-date-field" />
            </div>

            <div>
                <FluentTimePicker Label="Time (Out)"
                                  Appearance="FluentInputAppearance.Filled"
                                  Class="border border-secondary rounded-3 mb-2"
                                  Value="@SelectedTimeOutTimeOnly.ToDateTime()"
                                  ValueChanged="@(e => SelectedTimeOutTimeOnly = e.ToTimeOnly())"
                                  data-cy="timelog-time-field" />
            </div>
        </FluentStack>

        <!-- BUTTONS -->
        <div class="d-flex justify-content-end gap-2">
            <FluentButton Appearance="Appearance.Outline" OnClick="CloseDialog">
                Cancel
            </FluentButton>
            <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit" Loading="_IsSubmitting">
                Update time log
            </FluentButton>
        </div>
    </EditForm>
</FluentDialogBody>

<FluentDialogFooter Visible="false" />
