@page "/users"
@using TimeTrackingApp.Client.Features.Users.ViewUserTimelogs
@using TimeTrackingApp.Shared.Dtos.Users
@using MudBlazor
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>All Users</h3>
<p class="mt-3">Showing all registered users.</p>


@if (_isLoading)
{
    <FluentProgressRing />
}
else if (!_users.Any())
{
    <p>No users found.</p>
}
else
{
    <MudDataGrid @ref="_dataGrid" Items="@_users" ReadOnly="false" ExpandSingleRow="true">

        <!--TABLE-->
        <Columns>
            <HierarchyColumn T="UserListDto" />
            <MudBlazor.PropertyColumn Property="x => x.UserId" Title="User Id" />
            <MudBlazor.PropertyColumn Property="x => x.UserName" Title="User name" />
        </Columns>

        <!--ROW CONTENT-->
        <ChildRowContent>
            <MudCard>
@*                 <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@context.Item.UserName</MudText>
                    </CardHeaderContent>
                </MudCardHeader> *@
                <MudCardContent>
                    <UserTimelogsMainView UserId="@context.Item.UserId" UserName="@context.Item.UserName" />
                </MudCardContent>
            </MudCard>
        </ChildRowContent>

        <!--PAGINATION-->
        <PagerContent>
            <MudDataGridPager T="UserListDto" />
        </PagerContent>
    </MudDataGrid>
}
